.button-request{
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    display:inline-block;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 2rem 1rem 1rem 1rem;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
    height: 3rem;
}

.description{
    font-size: 1.4rem;
    font-weight: 600;
    margin:0.5rem;
}

.description-sub{
    font-size: 1.2rem;
    font-weight: 300;
    margin:0.5rem;
}

.description-content{
    font-size: 1.3rem;
    color: #6adcff;
    font-weight:500;
}

.request-detail{
    color: white;
    text-decoration: none;
    width: 100%;
    min-height: 6rem;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
}